<!DOCTYPE html>
<html>

    <head>
        <title>HSZ</title>
        {{ $opts := dict "use" "autoprefixer postcss-color-alpha" }}
        {{ with resources.Get "css/style.css" | postCSS $opts }}
            <link rel="stylesheet" href="{{ .RelPermalink }}">
        {{ end }}
        {{ $opts := dict "use" "autoprefixer postcss-color-alpha" }}
        {{ with resources.Get "css/bootstrap/bootstrap.css" | postCSS $opts }}
            <link rel="stylesheet" href="{{ .RelPermalink }}">
        {{ end }}
        
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,300,0,0" />
        <link rel="icon" href="pictures/icons/icon.ico">
    </head>

    <body>
        <div id="main-wrapper">
            <div id="aktuell"><a href="/" style="color: white;"><span class="material-symbols-outlined" id="btnside">home</span></a></div>
            <div id="lehrer">
                <nav class="navbar">
	                <ul>
		                <li>
                            <a><span class="material-symbols-outlined" id="btnside">groups</span></a>
			                <ul>
				                <li><a href="/schuelerinnen">SCHÜLERINNEN</a></li>
				                <li><a href="/lehrerinnen">LEHRERINNEN</a></li>
				                <li><a href="/schulpartner">SCHULPARTNER</a></li>
                                <li><a href="/absolventinnen">ABSOLVENTINNEN</a></li>
                                <li><a href="/erinnerungen">ERINNERUNGEN</a></li>
			                </ul>
		                </li>
	                </ul>
                </nav>
            </div>
            <div id="schule">
                <nav class="navbar">
	                <ul>
		                <li>
                            <a><span class="material-symbols-outlined" id="btnside">school</span></a>
			                <ul>
				                <li><a href="#">LEITBILD</a></li>
				                <li><a href="#">SCHULPROFIL</a></li>
				                <li><a href="#">GESUNDE JAUSE</a></li>
			                </ul>
		                </li>
	                </ul>
                </nav>
            </div>
            <div id="infra">
                <nav class="navbar">
	                <ul>
		                <li>
                            <a><span class="material-symbols-outlined" id="btnside">domain</span></a>
			                <ul>
				                <li><a href="/termine">TERMINE</a></li>
				                <li><a href="#">SCHULARBEITSTERMINE</a></li>
				                <li><a href="#">STUNDENPLAN</a></li>
                                <li><a href="#">FORMULARE</a></li>
			                </ul>
		                </li>
	                </ul>
                </nav>
            </div>
            <div id="links">
                <nav class="navbar">
	                <ul>
		                <li>
                            <a><span class="material-symbols-outlined" id="btnside">link</span></a>
			                <ul>
				                <li><a href="#">SCHULEN</a></li>
				                <li><a href="#">LERNPLATTFORMEN</a></li>
				                <li><a href="#">SONSTIGE LINKS</a></li>
			                </ul>
		                </li>
	                </ul>
                </nav>
            </div>
            <div id="chronik"><a href="chronik.php"><span class="material-symbols-outlined" id="btnside">language</span></a></div>
            <div id="impressum"><a href="impressum.php"><span class="material-symbols-outlined" id="btnside">Library_Books</span></a></div>
            <div id="intern"><a href="intern.php"><span class="material-symbols-outlined" id="btnside">Captive_Portal</span></a></div>
            <div id="btext">Demnächst</div>
            <div id="fetured">fetured</div>
            <div id="datenschutz"><a href="https://bildung.bmbwf.gv.at/schulen/datenschutz/index.html"><span class="material-symbols-outlined" id="btnside">policy</span></a></div>
            <div id="name-bild" class="logo-image">
                <center>
                    <div class="logos">
                        {{ $logo_ms := resources.Get "img/logo_ms.png" }}
                        {{ $logo_unesco := resources.Get "img/logo_unesco.png" }}
                        <center><img class="logo_front1" src="{{ $logo_ms.RelPermalink }}"></center>
                        <center><img class="logo_front2" id="unesco" src="{{ $logo_unesco.RelPermalink }}"></center>
                    </div>
                </center>
            </div>
            <div id="b2text">
                {{ block "main-top" . }}
                {{ end }}
            </div>
            <div id="ℹ️">
                <br>
                {{ block "main" . }}
                {{ end }}
                </div>
            </div>
        </div>
    </body>
</html>