{{ define "main-top"}}
<center><a style="font-size: 70px; gap: 0px; font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; color: #369BC9">AKTUELLES</a></center>
{{ end }}

{{ define "main"}}
    <style>           
        .Titeltitel {
            font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
            font-size: 18px;
            font-weight: bold;
            color: #aaa;
            line-height: 0%;
        }      
        .Utiteltitel {
            font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
            font-size: 14px;
            font-weight: bold;
            color: #5FC1E4;
        }
        .Utiteltitel2 {
            font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
            font-size: 14px;
            font-weight: bold;
            color: #5FC1E4;
        }
    </style>
    <table width="auto" border="0">
        <tbody>
            {{ range .Site.Data.blogs }}
                <tr>
                    <td width="400" valign="top" align="center"> 
                        <img src="img/{{.img}}.png" vspace="20" hspace="20" border="0">
                    </td>
                    <td valign="top" align="left">
                        <p class="Utiteltitel">
                            <br>
                        </p>
                        <p class="Titeltitel">{{.title}}
                            <br>
                        </p>
                        <p class="Utiteltitel2">{{.description}}
                            <br>
                            {{.klasse}}
                        </p>
                        <p class="Utiteltitel">
                            
                        <a href="hsz_aktuell_einzel.php?bearb=427" style="color: #0376A8; text-decoration: none;"> &gt;&gt; zum Bericht </a> 
                        </p>
                    </td>
                </tr>
            {{ end }}
        </tbody>
    </table>
{{ end }}