body {
    background-color: #1C1B22;
}

#main-wrapper {
    color: white;
    display: grid;
    gap: 1rem;
    grid-template-columns: 0.125% 80px auto 0.125%;
    grid-template-rows: 0.125% 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px;
    grid-template-areas:
    "none2 none3 none4 none5"
    "none1 🏠 name-bild none"
    "none1 lehrer name-bild none"
    "none1 🏫 name-bild none"
    "none1 infra name-bild none"
    "none1 links name-bild none"
    "none1 chronik name-bild none"
    "none1 impressum name-bild none"
    "none1 intern name-bild none"
    "none1 btext b2text none"
    "none1 fetured ℹ️ none"
    "none1 datenschutz ℹ️ none"
    "none1 none10 ℹ️ none"
    "none6 none7 none8 none9";
    margin: auto;
}

#aktuell, #lehrer, #schule, #infra, #links, #chronik, #impressum, #intern, #intern, #name-bild, #btext, #b2text, #ℹ️, #fetured, #info, #webdesign, #datenschutz {
    outline: 1.5px solid;
    outline-color: #414049;
    text-decoration: none;
    width: 100%;
    height: 100%;
}

#aktuell, #lehrer, #schule, #infra, #links, #chronik, #impressum, #intern, #datenschutz {
    display: flex;
    justify-content: center;
    align-items: center;
}



#aktuell {
    grid-area: 🏠;
    color: white;
}
#lehrer {
    grid-area: lehrer;
    color: white;
}
#schule {
    grid-area: 🏫;
    color: white;
}
#infra {
    grid-area: infra;
    color: white;
}
#links {
    grid-area: links;
    color: white;
}
#chronik {
    grid-area: chronik;
    color: white;
}
#impressum {
    grid-area: impressum;
    color: white;
}
#intern {
    grid-area: intern;
    color: white;
}
#name-bild {
    grid-area: name-bild;
    color: white;
}
#btext {
    grid-area: btext;
    color: white;
    font-size: 17px;
    font-weight: normal;
}
#b2text {
    grid-area: b2text;
    color: white;
    font-size: 17px;
    font-weight: normal;
}
#ℹ️ {
    grid-area: ℹ️;
    color: white;
}
#fetured {
    grid-area: fetured;
    color: white;
    font-size: 17px;
    font-weight: normal;
}
#info {
    grid-area: info;
    color: white;
}
#webdesign {
    grid-area: webdesign;
    color: white;
}
#datenschutz {
    grid-area: datenschutz;
    color: white;
}


.navbar {
    position: relative;
    z-index: 999;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    display: inline-block;
}

.navbar li a {
    color: white;
    display: block;
    padding: 10px 20px;
    text-decoration: none;
}

.navbar ul ul {
    position: absolute;
    display: none;
    background-color: #0B1721;
    left: 100%;
    top: 0%;
    width: 300%;
}

.navbar ul ul li {
    display: block;
}

.navbar li:hover ul {
    display: block;
}

.navbar ul ul li a:hover {
    background-color: #555;
}

a {
    color: white;
}

.logo_front1 {
    width: 100%;
    max-width: 650px;
    height: 100%;
}

.logo_front2 {
    width: 100%;
    max-width: 150px;
    height: 100%;
}

#unesco {
    color: white;
}

#btnside {
    font-size: 380%;
}

.logo-image {
    background-image: url("data1/images/a42.jpg");
    background-repeat: no-repeat, repeat;
    background-size: 100%;
}

.logos{
    width: 70%;
    height: 70%;
	padding:30px;
	background: rgba(11,23,33,0.4);
	text-align:center;
}